{% extends 'orden_compra/base1.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<form method="post" id="formFactura">
  {% csrf_token %}
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <button class="btn btn-info" type="submit">Añadir producto</button>
      <a href="{% url 'crear_orden' %}"class="btn btn-success">Nueva orden</a>
      <a href="{% url 'generar_pdf1' %}"class="btn btn-success" target="_factura">Reporte</a>
      <a href="{% url 'listar_orden_compra' %}"class="btn btn-success">Listado</a>
      <a href="{% url 'orden_compra_main' %}" class="btn btn-danger">Cancelar</a>
    </div>
    <div class="card-body">
      <table class="table">
        <!--<tr>   
 
          <th>Num. de orden</th>
          <td><input type="text" class="form-control" name="id" id="idCompras"></td>
        </tr>
      -->
        <tr>
          <th>Proveedor:</th>
          <td>
            <select name="proveedor" id="proveedor" class="form-control">
              <option value="0">Seleccione el proveedor</option>
              {% for proveedor in proveedores %}
                <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
              {% endfor %}
            </select>
          </td>    
          <th>Dirección:</th>
          <td>
            <input type="text" class="form-control" name="direccion" id="direccion" >
          </td>
        </tr>
        <tr>
          <th>Producto:</th>
          <td>
            <select name="producto" id="producto" class="form-control">
              <option value="0">Seleccione el producto</option>
              {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.nombre }}</option>
              {% endfor %}
            </select>
          </td>  
            <th>Subtotal:</th>
            <td><input type="number" name="subTotal" id="subTotal" class="form-control text-right" value="0" readonly></td>
  
        </tr>
        <tr>
          <th>Cantidad</th>
          <td><input type="number" name="cantidad" id="cantidad" class="form-control text-right" value="0"></td>
          <th>Desc:</th>
          <td><input type="number" name="descuento" id="descuento" class="form-control text-right" value="0" ></td>
        </tr>
        <tr>
          <th>Precio</th>
          <td><input type="number" name="precio" id="precio" class="form-control text-right" value="0"></td>
          <th>Total:</th>
          <td><input type="number" name="total" id="total" class="form-control text-right" value="0" disabled></td>
          <td colspan="2"></td>
        </tr>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
            <th>Descuento</th>
            <th>Total</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for detalle in detallecompra %}
            <tr>
              <td>{{ detalle.producto.nombre }}</td>
              <td>{{ detalle.cantidad }}</td>
              <td>{{ detalle.precio }}</td>
              <td>{{ detalle.sub_total_detalle }}</td>
              <td>{{ detalle.descuento_detalle }}</td>
              <td>{{ detalle.total_detalle }}</td>
              <td>
                <a href="{% url 'eliminar_detalle' detalle.id %}" class="btn text-secondary px-0">
                  <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
              </a>  
                <a href="{% url 'ver_orden_compra' detalle.compra.id %}" class="btn text-secondary px-0">
                  <i class="fas fa-info-circle fa-lg"></i>
              </a>                      
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</form>
<script>
  // Obtener los elementos necesarios
  const cantidadInput = document.getElementById("cantidad");
  const precioInput = document.getElementById("precio");
  const subtotalInput = document.getElementById("subTotal");
  const descuentoInput = document.getElementById("descuento");
  const totalInput = document.getElementById("total");

  // Agregar eventos de cambio a los campos de cantidad, precio y descuento
  cantidadInput.addEventListener("change", actualizarSubtotal);
  precioInput.addEventListener("change", actualizarSubtotal);
  descuentoInput.addEventListener("change", actualizarTotal);

  // Función para calcular y actualizar el subtotal
  function actualizarSubtotal() {
    const cantidad = parseFloat(cantidadInput.value);
    const precio = parseFloat(precioInput.value);
    const subtotal = cantidad * precio;

    // Actualizar el valor del campo subtotal sin formateo
    subtotalInput.value = subtotal;

    // Actualizar el total después de cambiar el subtotal
    actualizarTotal();
  }

  // Función para calcular y actualizar el total después de aplicar el descuento
  function actualizarTotal() {
    const subtotal = parseFloat(subtotalInput.value);
    const descuento = parseFloat(descuentoInput.value);

    // Calcular el descuento en porcentaje
    const descuentoPorcentaje = subtotal * (descuento / 100);

    // Calcular el total después de aplicar el descuento
    const total = subtotal - descuentoPorcentaje;

    // Formatear el total con punto como separador de miles y sin decimales
    const totalFormateado = formatearNumero(total);

    // Actualizar el valor del campo total
    totalInput.value = totalFormateado;
  }

  // Función para formatear el número con punto como separador de miles y sin decimales
  function formatearNumero(numero) {
    return numero.toLocaleString(undefined, {
      minimumFractionDigits: 0,
      maximumFractionDigits: 0,
      useGrouping: true,
    });
  }
</script>





{% endblock %}





  