django==3.2.18
Pillow 
pylint
pylint-django
django-bower
xlwt
xlrd
pandas
django-mathfilters
djangorestframework
psycopg2==2.8.5
djangorestframework==3.11.2
django-bootstrap4
django-crispy-forms
crispy-bootstrap4
