{% extends 'orden_trabajo/base.html' %}

{% block content %}
    <h2>Cambiar Estado de Venta</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nuevo_estado">Nuevo Estado:</label>
            <select id="id_nuevo_estado" name="nuevo_estado" class="form-control" required>
                <option value="">Seleccionar estado</option>
                {% for estado in estados %}
                    <option value="{{ estado }}">{{ estado }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}
