<!DOCTYPE html>
{% load static %}
<html lang="es">
<style>
.navbar-default {
  background-color: #00c040;
}
.bg-mi-color{
    background-color: #e9e9e9 ;
    font-family:'Poppins',sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.table{
    max-width: 800px;
    width: 100%;
}

</style>
<head>
    <title>EcoFácil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">

    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/jqvmap/jqvmap.min.css' %} ">

    <link rel="stylesheet" href="{% static 'lib/AdminLTE-3.2.0/css/adminlte.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %} ">

    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %} ">

    <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.min.css' %} ">

</head>
<body class="bg-mi-color">

  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a style="color: #fff;" class="navbar-brand" href="#">EcoFácil</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a style="color: #fff; font-size: 23px;" href="#"><span class="glyphicon glyphicon-user"></span> 
                ¡Bienvenido {{request.user.first_name}} {{request.user.last_name}}!</a></li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a style="color: #fff;" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
        </ul>
      </div>
  </nav>




  <div class="row justify-content-center">

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>
        <div class="info-box-content">
        <span class="info-box-text">Clientes</span>
        <span class="info-box-number">{{ total_clientes }}</span>
        </div>
        
        </div>
        
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
        
        <div class="info-box-content">
        <span class="info-box-text">Ventas</span>
        <span class="info-box-number">{{ total_ordenes_venta }}</span>
        </div>
        
        </div>
        
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-tag"></i></span>
        <div class="info-box-content">
        <span class="info-box-text">Insumos</span>
        <span class="info-box-number">{{ total_insumos }}</span>
        </div>
        
        </div>
        
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-shopping-basket"></i></span>
        <div class="info-box-content">
        <span class="info-box-text">Compras</span>
        <span class="info-box-number">{{ total_ordenes_compra }}</span>
        </div>
        
        </div>
        
    </div>

    
        
</div>











    <div class="container my-5">
        <div class="row justify-content-center">
            
            
            <!-- Esto es adminlte -->
            <div class="row justify-content-center">
                <div class="col-lg-5 col-12">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-primary"> 
                    <div class="inner">
                
                    <p>Gestión de</p>
                    <h2>USUARIOS</h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'users_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-5 col-5">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-warning"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>PRODUCTOS</h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'productos_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-5 col-12">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-success"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>CATEGORÍAS</h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'categorias_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-5 col-5">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-danger"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>INSUMOS</h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'insumos_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-5 col-12">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-info"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>PROVEEDORES</h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'proveedores_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-5 col-5">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-secondary"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>ORDEN DE COMPRA </h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'orden_compra_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>


                <div class="col-lg-5 col-5">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-dark"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>CLIENTES </h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'clientes_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-5 col-5">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-success"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>COTIZACIONES </h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'cotizaciones_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-5 col-5">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-warning"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>ORDEN DE TRABAJO </h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'orden_trabajo_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-5 col-5">
                
                    <div style="background-color: #00c040; color: #fff;"  class="small-box bg-info"> 
                    <div class="inner">
                    
                    <p>Gestión de</p>
                    <h2>VENTAS </h2>
                    </div>
                    <div class="icon">
                    <i class="fa fa-folder"></i>
                    </div>
                    <a href="{% url 'orden_venta_main' %}" class="small-box-footer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@
