<!DOCTYPE html>
<html lang="es">
<style>
.navbar-default {
  background-color: #333333;
}
.bg-mi-color{
    background-color: #4d8066 ;
    font-family:'Poppins',sans-serif;
}
</style>
<head>
    <title>EcoFácil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-mi-color">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a style="color: #fff;" class="navbar-brand" href="#">EcoFácil</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a style="color: #fff; font-size: 23px;" href="#"><span class="glyphicon glyphicon-user"></span> 
                ¡Bienvenido {{request.user.first_name}} {{request.user.last_name}}!</a></li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a style="color: #fff;" href="#"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
        </ul>
      </div>
  </nav>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div style="background-color: #333333;" class="card mb-4">
                <div class="card-body">
                    <h5  class="card-title text-center"><a style="color: #fff;" href="{% url 'users_main' %}">Gestión de usuarios</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color: #333333;" class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center"><a style="color: #fff;" href="{% url 'productos_main' %}">Gestión de productos</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color: #333333;" class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center"><a style="color: #fff;" href="{% url 'categorias_main' %}">Gestión de categorías</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color: #333333;" class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center"><a style="color: #fff;" href="{% url 'insumos_main' %}">Gestión de insumos</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color: #333333;" class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center"><a style="color: #fff;"  href="{% url 'proveedores_list' %}">Gestión de proveedores</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color: #333333;" class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center"><a style="color: #fff;" href="{% url 'insumos_list' %}">Gestión de orden de compra</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@
