¡Hola {{ user.first_name }} {{ user.last_name }}!

Te informamos que tu cuenta ha sido creada satisfactoriamente en nuestro sitio.

A continuación, te proporcionamos los detalles de tu cuenta:

Nombre de usuario: {{ user.username }}
Contraseña: {{ user.username }}

Te recomendamos cambiar tu contraseña lo antes posible para asegurar la seguridad de tu cuenta.

Si no has creado una cuenta en nuestro sitio, puedes ignorar este correo electrónico.

Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en contactarnos.

¡Gracias y bienvenido/a a nuestro sitio!

Saludos,
El equipo de EcoFacil

